body {
  color: #7d8877;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  background-color: #eae7d9;
  padding: 1rem;
  font-family: American Typewriter, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.title { font-size: 2em; }
.main { font-size: 1rem; }
.sub { font-size: 0.8rem; }
.title, .main, .sub { margin: 10px; }
img {
  display: block;
  width: 90%;
  max-width: 400px;
}
.clock {
  width: 100%;
  max-width: 500px;
  border-radius: 0.312rem;
  overflow: hidden;
  display: flex;
}
.clock .head {
  color: #f7ead1;
  background-color: #dca997;
  font-size: 0.618rem;
  line-height: 2;
  text-transform: uppercase; 
}
.clock .digits {
  font-size: 2rem;
  line-height: 2;
  background-color: #f7ead1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.clock > .col {
  text-align: center;
}
.clock > .col:nth-child(odd) {
  flex: 1;
}